com.learning.databinding/src/main/resources/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.example.org/GolfCountryClub" xmlns:tns="http://www.example.org/GolfCountryClub" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="GolfCountryClub">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GolfCourse" type="tns:GolfCourseType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="GolfCourseType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="NumberOfHoles" type="xs:positiveInteger"/>
  </xs:complexType>
</xs:schema>

